# JANUS Terminal ownership map
* @Hawkar-usls
/.github/ @Hawkar-usls
/.janus/ @Hawkar-usls
/commands/ @Hawkar-usls
/contracts/ @Hawkar-usls
/config/ @Hawkar-usls
/tools/ @Hawkar-usls
/receipts/ @Hawkar-usls
